/* REQUIRES: orientation_size.css */

/* TOC */
@page toc:left{
    @bottom-left{
        content: "© Aurigo Software Technologies Inc.";
        letter-spacing: 0.025em;
        color: #fff;
        border: none;
        background-color: #fff !important;
        font-family: 'Arial', 'Helvetica Neue', sans-serif !important;
        font-size:15px;
        font-style: normal;
        font-weight: bold;
        
}
    @bottom-right {
        content: "";
        letter-spacing: 0.025em;
        border: none;
        background-color: #000;
        font-family: 'Arial', 'Helvetica Neue', sans-serif !important;
    }
}

@page toc:right{
    @bottom-left{
        content: "© Aurigo Software Technologies Inc.";
        letter-spacing: 0.025em;
        font-size:15px;
        color: #fff;
        border: none;
        background-color: #fff !important;
        font-family: 'Arial', 'Helvetica Neue', sans-serif !important;
        font-style: normal;
        font-weight: bold;
        
}
    @bottom-right{
        content: "";
        letter-spacing: 0.025em;
        border: none;
        background-color: #000;
        font-family: 'Arial', 'Helvetica Neue', sans-serif !important;
    }
}

/* BODY */
@page:left{
    @top-right{
        content: "Masterworks Online Help";
        letter-spacing: 0.025em;
        line-height: 1em;
        font-family: 'Arial', 'Helvetica Neue', sans-serif !important;
        font-weight: bold;
        color: #000;
        font-size: 15px;
    }
    @top-left{
        font-size: 15px;
        color: #000;
        font-family: 'Arial', 'Helvetica Neue', sans-serif !important;
        font-style: normal;
        font-weight: bold;
        text-transform: none;
        content: "";
        letter-spacing: 0.025em;
        line-height: 1em;
    }
      @bottom-left{
        content: "© Aurigo Software Technologies Inc.";
        letter-spacing: 0.025em;
        color: #000;
        font-family: 'Arial', 'Helvetica Neue', sans-serif !important;
        font-style: normal;
        border: none;
        background-color: #fff !important;
        font-size: 15px;
        font-weight: bold;
    }
    @bottom-right {
        font-size: 15px;
        border: none;
        background-color: none !important;
        font-family: 'Arial', 'Helvetica Neue', sans-serif !important;
        font-style: normal;
        font-weight: normal;        
        font-size: 15px;
        color: #000;
        font-weight: bold;
        content: counter(page);
    }
}

@page:right{
    @top-right{
        content: "Masterworks Online Help";
        letter-spacing: 0.025em;
        line-height: 1em;
        font-family: 'Arial', 'Helvetica Neue', sans-serif !important;
        font-weight: bold;
        color: #000;
        font-size: 15px;
    }
    @top-left{
        font-size: 15px;
        color: #000;
        font-family: 'Arial', 'Helvetica Neue', sans-serif !important;
        font-style: normal;
        font-weight: bold;
        text-transform: none;
        content: "";
        letter-spacing: 0.025em;
        line-height: 1em;
    }
    @bottom-left{
        content: "© Aurigo Software Technologies Inc.";
        letter-spacing: 0.025em;
        color: #000;
        font-family: 'Arial', 'Helvetica Neue', sans-serif !important;
        font-style: normal;
        border: none;
        background-color: #fff !important;
        font-size: 15px;
        font-weight: bold;
    }
    @bottom-right {
        font-size: 15px;
        border: none;
        background-color: #fff !important;
        font-family: 'Arial', 'Helvetica Neue', sans-serif !important;
        font-style: normal;
        font-weight: normal;        
        font-size: 15px;
        color: #000;
        font-weight: bold;
        content: counter(page);
        letter-spacing: 0.025em;
    }
}
